@import "src/styles/imports";

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @include md {
    grid-template-columns: 3fr 4fr;
    grid-gap: 10px;
  }

  @include lg {
    grid-template-columns: 3fr 4fr 3fr;
    padding: 20px;
  }
}

.page {
  padding: 10px 0;

  @include sm {
    padding: 10px;
  }

  @include md {
    padding: 20px;
  }
}

.page__title {
  margin: 0;
  padding: $guttersm;
  height: 40px;
  text-transform: capitalize;
  font-size: $xl;

  @include sm {
    padding: 0;
  }
}

.page__copy {
  padding: $guttersm;

  @include sm {
    padding: 0;
  }
}

.results__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @include md {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}
